In [ ]:
# Descriptive Statistics - Measures of Central Tendency and variability
#     Perform the following operations on any open source dataset (e.g., data.csv)
#     1. Provide summary statistics (mean, median, minimum, maximum, standard
#     deviation) for a dataset (age, income etc.) with numeric variables grouped by one of
#     the qualitative (categorical) variable. For example, if your categorical variable is age
#     groups and quantitative variable is income, then provide summary statistics of
#     income grouped bythe age groups. Create a list that contains a numeric value for
#     each response to the categorical variable.
#     2. Write a Python program to display some basic statistical details like percentile,
#     mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and
#     ‘Iris- versicolor’ of iris.csv dataset.
#     Provide the codes with outputs and explain everything that you do in this step

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('datasets/Employee_Salary_Dataset.csv')
df.head()

   ID  Experience_Years  Age  Gender  Salary
0   1                 5   28  Female  250000
1   2                 1   21    Male   50000
2   3                 3   23  Female  170000
3   4                 2   22    Male   25000
4   5                 1   17    Male   10000

In [12]:
print("Mean")
print(df.mean(numeric_only=True))
print("\nMedian")
print(df.median(numeric_only=True))
print("\nMinimum")
print(df.min(numeric_only=True))
print("\nMaximum")
print(df.max(numeric_only=True))
print("\nStandard Deviation")
print(df.std(numeric_only=True))
print("\nSummary Statistics")
print(df.describe(include='all'))
print("\nCorrelation Matrix")
print(df.corr(numeric_only=True))

Mean
ID                  1.800000e+01
Experience_Years    9.200000e+00
Age                 3.548571e+01
Salary              2.059147e+06
dtype: float64

Median
ID                      18.0
Experience_Years         6.0
Age                     29.0
Salary              250000.0
dtype: float64

Minimum
ID                     1
Experience_Years       1
Age                   17
Salary              3000
dtype: int64

Maximum
ID                        35
Experience_Years          27
Age                       62
Salary              10000000
dtype: int64

Standard Deviation
ID                  1.024695e+01
Experience_Years    7.552950e+00
Age                 1.464355e+01
Salary              3.170124e+06
dtype: float64

Summary Statistics
               ID  Experience_Years        Age  Gender        Salary
count   35.000000          35.00000  35.000000      35  3.500000e+01
unique        NaN               NaN        NaN       2           NaN
top           NaN               NaN        NaN  Female           NaN
freq          NaN               NaN        NaN      18           NaN
mean    18.000000           9.20000  35.485714     NaN  2.059147e+06
std     10.246951           7.55295  14.643552     NaN  3.170124e+06
min      1.000000           1.00000  17.000000     NaN  3.000000e+03
25%      9.500000           2.50000  22.500000     NaN  2.250000e+04
50%     18.000000           6.00000  29.000000     NaN  2.500000e+05
75%     26.500000          15.00000  53.500000     NaN  3.270000e+06
max     35.000000          27.00000  62.000000     NaN  1.000000e+07

Correlation Matrix
                        ID  Experience_Years       Age    Salary
ID                1.000000          0.291098  0.282452  0.362092
Experience_Years  0.291098          1.000000  0.973708  0.685600
Age               0.282452          0.973708  1.000000  0.668444
Salary            0.362092          0.685600  0.668444  1.000000

In [13]:
df.loc[:,'Age'].std()

np.float64(14.643551940884361)

In [5]:
# Group by categorical variable and get summary statistics
grouped = df.groupby('Age')['Salary'].agg(['mean', 'median', 'min', 'max', 'std'])
print(grouped)
# Create list of incomes grouped by category
grouped_list = df.groupby('Age')['Salary'].apply(list)
print(grouped_list)

             mean     median      min       max           std
Age
17   1.000000e+04    10000.0    10000     10000           NaN
18   3.000000e+03     3000.0     3000      3000           NaN
21   1.722000e+04     9000.0     6000     50000  1.868534e+04
22   2.250000e+04    22500.0    20000     25000  3.535534e+03
23   6.213333e+04     8900.0     7500    170000  9.341790e+04
26   1.375000e+05   137500.0    25000    250000  1.590990e+05
27   8.700000e+04    87000.0    87000     87000           NaN
28   2.500000e+05   250000.0   250000    250000           NaN
29   4.122500e+06  4122500.0  1400000   6845000  3.850196e+06
34   5.050000e+05   505000.0    80000    930000  6.010408e+05
36   1.957500e+05   195750.0    61500    330000  1.898582e+05
39   6.000050e+06  6000050.0  6000050   6000050           NaN
40   2.201000e+05   220100.0   220100    220100           NaN
49   7.600000e+06  7600000.0  7600000   7600000           NaN
53   9.300000e+06  9300000.0  9300000   9300000           NaN
54   3.636667e+06  2950000.0   650000   7900000  3.258691e+06
55   1.540000e+06  1540000.0  1540000   1540000           NaN
62   7.500500e+06  7500500.0  5001000  10000000  3.534827e+06
Age
17                                              [10000]
18                                               [3000]
21                     [50000, 9000, 15000, 6000, 6100]
22                                       [25000, 20000]
23                                 [170000, 7500, 8900]
26                                      [250000, 25000]
27                                              [87000]
28                                             [250000]
29                                   [1400000, 6845000]
34                                      [930000, 80000]
36                                      [61500, 330000]
39                                            [6000050]
40                                             [220100]
49                                            [7600000]
53                                            [9300000]
54    [800000, 650000, 7900000, 6570000, 5000000, 90...
55                                            [1540000]
62                                  [5001000, 10000000]
Name: Salary, dtype: object

In [17]:
dff = pd.read_csv('datasets/Iris.csv')
dff.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [20]:
iris = dff.groupby('Species')

In [22]:
print("Percentiles")
print(iris.describe(percentiles=[.25, .5, .75]))
print("\nMean")
print(iris.mean(numeric_only=True))
print("\nMedian")
print(iris.median(numeric_only=True))
print("\nQuantiles")
print(iris.quantile(numeric_only=True))
print("\nStandard Deviation")
print(iris.std(numeric_only=True))
print("\nMinimum")
print(iris.min(numeric_only=True))
print("\nMaximum")
print(iris.max(numeric_only=True))
print("\nSummary Statistics")
print(iris.describe(include='all'))

Percentiles
                   Id                                                        \
                count   mean       std    min     25%    50%     75%    max
Species
Iris-setosa      50.0   25.5  14.57738    1.0   13.25   25.5   37.75   50.0
Iris-versicolor  50.0   75.5  14.57738   51.0   63.25   75.5   87.75  100.0
Iris-virginica   50.0  125.5  14.57738  101.0  113.25  125.5  137.75  150.0

                SepalLengthCm         ... PetalLengthCm      PetalWidthCm  \
                        count   mean  ...           75%  max        count
Species                               ...
Iris-setosa              50.0  5.006  ...         1.575  1.9         50.0
Iris-versicolor          50.0  5.936  ...         4.600  5.1         50.0
Iris-virginica           50.0  6.588  ...         5.875  6.9         50.0


                  mean       std  min  25%  50%  75%  max
Species
Iris-setosa      0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   2.026  0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 40 columns]

Mean
                    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  \
Species
Iris-setosa       25.5          5.006         3.418          1.464
Iris-versicolor   75.5          5.936         2.770          4.260
Iris-virginica   125.5          6.588         2.974          5.552

                 PetalWidthCm
Species
Iris-setosa             0.244
Iris-versicolor         1.326
Iris-virginica          2.026

Median
                    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  \
Species
Iris-setosa       25.5            5.0           3.4           1.50
Iris-versicolor   75.5            5.9           2.8           4.35
Iris-virginica   125.5            6.5           3.0           5.55

                 PetalWidthCm
Species
Iris-setosa               0.2
Iris-versicolor           1.3
Iris-virginica            2.0

Quantiles
                    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  \
Species
Iris-setosa       25.5            5.0           3.4           1.50
Iris-versicolor   75.5            5.9           2.8           4.35
Iris-virginica   125.5            6.5           3.0           5.55

                 PetalWidthCm
Species
Iris-setosa               0.2
Iris-versicolor           1.3
Iris-virginica            2.0

Standard Deviation
                       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  \
Species
Iris-setosa      14.57738       0.352490      0.381024       0.173511
Iris-versicolor  14.57738       0.516171      0.313798       0.469911
Iris-virginica   14.57738       0.635880      0.322497       0.551895

                 PetalWidthCm
Species
Iris-setosa          0.107210
Iris-versicolor      0.197753
Iris-virginica       0.274650

Minimum
                  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa        1            4.3           2.3            1.0           0.1
Iris-versicolor   51            4.9           2.0            3.0           1.0
Iris-virginica   101            4.9           2.2            4.5           1.4

Maximum
                  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa       50            5.8           4.4            1.9           0.6
Iris-versicolor  100            7.0           3.4            5.1           1.8
Iris-virginica   150            7.9           3.8            6.9           2.5

Summary Statistics
                   Id                                                        \
                count   mean       std    min     25%    50%     75%    max
Species
Iris-setosa      50.0   25.5  14.57738    1.0   13.25   25.5   37.75   50.0
Iris-versicolor  50.0   75.5  14.57738   51.0   63.25   75.5   87.75  100.0
Iris-virginica   50.0  125.5  14.57738  101.0  113.25  125.5  137.75  150.0

                SepalLengthCm         ... PetalLengthCm      PetalWidthCm  \
                        count   mean  ...           75%  max        count
Species                               ...
Iris-setosa              50.0  5.006  ...         1.575  1.9         50.0
Iris-versicolor          50.0  5.936  ...         4.600  5.1         50.0
Iris-virginica           50.0  6.588  ...         5.875  6.9         50.0


                  mean       std  min  25%  50%  75%  max
Species
Iris-setosa      0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   2.026  0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 40 columns]